.circular {
	width: 300px;
	height: 350px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	background: url("rebecca.jpg") no-repeat;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
	}

.circular-project {
	width: 300px;
	height: 350px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
	}

.circular-activity {
	width: 400px;
	height: 266px;
	border-radius: 100px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
	}

.circular-dance {
	width: 300px;
	height: 400px;
	border-radius: 100px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
	}

	h1{
		font-weight: lighter;
	}
